	body{
	
		color: grey;
	}
	h1{
		color: black;
		font-size: 40px;
	}
	h2{
		color:black;
		font-size: 30px;
	}

	a{
		color: indigo;
	}
	a:hover{
		color: black;
	}
#menu{
		background-color: grey;
	
		text-align: right;
}



#contenu{
	display: flex;
}
#cv{
	
	padding: 20px;
	flex: 1;
}

#divers{

	padding: 100px;
	flex: 0,5;
}


#codage{
	color: black;
	text-align: center;
}

#fin{
	background-color: grey;
	color:white;
	font-size: 40px;
	text-align: right;
}	




