
section{
	background-color: pink;
		}
		a{
			color: white;
			text-decoration: none;	
		}

		h1{font-size: 40px;}
		h2{font-size: 30px;}
		h3{font-size: 20px;}
#menu{ 
	background-color: black;
	text-align: right;
}
a{font-size: 30px;}
a:hover {color: pink;}
	
	



#TIA{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(255,255,255,0.5);
}
#ANIMAUX{
	background-color: grey;
}
#fin{
	background-color: black;
	color:white;
	font-size: 40px;
	text-align: right;
}		


