

section{
	background:url('./DefaultDesktop.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	height: 200%;
		}
		a{
			color: white;
			text-decoration: none;	
		}

		h1{font-size: 40px;}
		h2{font-size: 30px;}
		h3{font-size: 20px;}
#menu{ 
	background-color: black;
	text-align: right;
}
a{font-size: 30px;}
a:hover {color: pink;}
	
#bandeau{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(255,255,255,0.5);
}
	

		#hero
		a{
			background-color: black;
			border: 5px solid white;
			border-radius: 5px;
			padding: 20px;
			transition: 1s;
		}
		#hero
		a:hover{
			background-color: indigo;
			border: 10px solid black;
			color: black;
		}	
		#hero{
			font-size: 30px;
		}

		#sommaire{
			margin-left: 30%;
		}

		
















		

		

		
		
